@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Hanalei+Fill');
@import url('https://fonts.googleapis.com/css?family=Corben');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body{
    background-color:	#6c4e4e;
    color:white!important;
    margin-right:5%!important;
    margin-left:5%!important;
}
p{
    font-family: 'Sawarabi Mincho', sans-serif;
}

.logo{
    -moz-transform: rotate(-.80rad);
    -webkit-transform: rotate(-.80rad);
    -o-transform: rotate(-.80rad);
    -ms-transform: rotate(-.80rad);
    transform: rotate(-.80rad);
    font-family: 'Hanalei Fill', cursive;
    max-width: 100px;
    max-height: 100px;
    float:left;
    color: #111111;
    background-color: brown;
    
}

.menu{
    height:800px;
}
.code{
    -moz-transform: rotate(1.00rad);
    -webkit-transform: rotate(1.00rad);
    -o-transform: rotate(1.00rad);
    -ms-transform: rotate(1.00rad);
    transform: rotate(1.00rad);
    font-family: 'Hanalei Fill', cursive;
    max-width: 50px;
    max-height: 50px;
    font-size: 10px!important;
    float:left;
    color:white;
}
 img {
    width: 300px;
    max-width: 100%; 
    max-height: 300px; 
    margin: 0;
  } 
  .list-one{
      font-family: 'Sawarabi Mincho', sans-serif;
      font-size: 18px;
      margin:0;
      width: 500px;
      height: 300px;
      justify-content: center;
      padding: 0;
     
  }
  .jumbotron{
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 48px;
    text-shadow: 2px 2px #4b3832;
    background-color: #6c4e4e;
    max-height: 200px;
  }
  .one{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 30px;
    padding: 0;
  }
  .two{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }
  h2{
      font-size: 48px!important;
  }
  .captures{
    font-family: 'Corben', cursive;
    background-color:#f6e0b5;
    color:#111111;
    padding:5%; 
    width:100%;   
}

.clarity{
    padding:5%;
    width: 100%;
}
path {
    fill: transparent;
  }
  
  text {
    fill: #111111;
  }
  .arch{
      font-size: 11px!important;
      color:white!important;
  }
  
  .closeup{
    font-family: 'Anton', sans-serif!important;
    font-size: 48px!important;
    margin-bottom: 20%;
    width:100%;
  }

.w3-container{
    max-height:1000px;
    width:100%;
    padding:5%;
}

.highlight{
    background-color:#eea990!important;
    color:red;
    font-family: 'Corben', cursive;
    background-color:#f6e0b5;
    color:hsl(0, 0%, 7%);
    padding:5%;
    max-height: 1000px;
    width:100%;
}
.four{
    font-family: 'Oswald', sans-serif!important;
}
.five{
font-family: 'Do Hyeon', sans-serif;
}
.vibrance{
    background-color: #f6e0b5;
    width:100%;
    color:#111111;
    padding:5%;
    max-height:1000px;
    
}
.sharp{
    background-color: #a39193!important;
    color: #111111!important;
    padding: 5%;
    width:100%;
}
.bw{
    padding:5%;
    width:100%;
}
.five{
    text-align: center;
}
.favorite{
    padding:5%;
    width:100%;
}
.Fourth-div{
    color: #111111!important;
   
}
